
*{
	padding: 0;
	border: 0;
	padding: 0px;
	font-family: "微软雅黑";
}

.Main,.container,.header,.footer,.head-list{
		margin: 5px auto;
		width: 90%;
	}
	
	.header{
		
		background-color: beige;
		height:100px;
		
	}
	
	
.left,.right,.main{
	float: left;
	height: 800px;
}


.left{
	background-color: coral;   
    width: 15%;

}


.main{
	background-color: burlywood;
	width: 70%;
}


.right{
	background-color: cornflowerblue;
	width: 15%;
}


.container{
	
	height: 800px;
}


.footer{
		background-color: cadetblue ;
		height: 100px;
	}
	

.head-list{
	height: 50px;
	
}

.item-1,.item-2,.item-3,.item-4,.item-5{
	margin: auto 2px;
	width: 19.6%;
	height: 50px;
	float: left;
	background-color: aquamarine;
}

.left-items{
	margin-bottom: 10px;
	width: 100%;
	height: 150px;
}

.left-item{
	margin-bottom: 4px;
	width: 100%;
	height: 130px;
	background-color: aliceblue;
}

.left-item-a{
	margin: 2px 17%;
}


.main-head{
	position: relative;
	z-index: 0;
	margin-bottom: 5px;
	width: 100%;
	height:30%;
	background-color: blueviolet;
}


.main-content{
	margin-bottom: 5px;
	width: 100%;
	height: 50%;
	background-color: chocolate;
}

.main-footer{
	margin-bottom: 5px;
	width: 100%;
	height: 20%;
}
